footer {
    grid-area: footer;
    background-color: black;
    @include textos ("Roboto", "default", 1.5, 0, 1% 0 1% 0, 0);
    @include flexbox (row, center, none, none, space-around);
    grid-area: footer; 
    div {
        padding: 1%;
        a {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}