header {
    grid-area: header;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 100;
    grid-area: header;
    nav {
        @include flexbox (row, center, none, none, center);
        background: black;
        width: 100%;
        .enlace {
            padding: 20px 50px;
            margin-right: 15%;
            .logo {
                height: 40px;
            }
        }
        #check {
            display: none;
        }
        .checkbtn{
            font-size: 35px;
            float: right;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        ul {
            float: right;
            li {
                display: inline-block;
                line-height: 20px;
                margin: 5px;
                a{
                    font-size: 1.2rem;
                    color: bisque;
                    background: rgb(0, 0, 0);
                    border-radius: 10px;        
                    padding: 1%;
                    cursor: pointer;
                    &:hover {
                        background: bisque;
                        color: rgb(0, 0, 0);
                        transition: all linear 0.3s;
                    }
                }
            }
            #activar {
                display: none;
                padding: 1%;
                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}