#main__reserva{
    grid-area: main;
    .formulario {
        @include textos ("Lato", "default", 1.5, 0.08vw, 30px, auto); 
        width: 80%;
        background: #1e242b;
        border-radius: 4px;
        font-family: 'calibri';
        color: bisque;
        box-shadow: 7px 13px 37px #000;
        h4 {
            @include textos ("Raleway", "mayor", 0.66, 0, 0, 1%);
        }
        .ingresar {
            width: 100%;
            background: #3e3a34;
            padding: 1%;
            border-radius: 4px;
            margin-bottom: 2%;
            border: 1px solid #9da6b9;
            font-family: 'calibri';
            font-size: 18px;
            color: rgb(246, 246, 246);
            &:focus {
                background: #403931;
            }
        }
        .boton {
            width: 100%;
            background: rgb(30, 102, 143);
            border: none;
            border-radius: 10px;
            padding: 1.5%;
            color: bisque;
            margin: 1% 0;
            font-size: 1.3rem;
            cursor: pointer;
            &:hover {
                background: bisque;
                color: rgb(7, 51, 77);
            }
            &:active {
                background: greenyellow;
                color: rgb(0, 0, 0);
            }
        }
    }
}