#main__habitaciones {
    grid-area: main;
    overflow-x: hidden;
    .habit__section1 {
        height: 60vh;
        background-image: url(../assets/images/Imagenes_habitaciones/habitacion_fondo.webp);
        @include backgrounds;
        .sombreado {
            width: inherit;
            height: inherit;
            background-color: rgba(0, 0, 0, 0.619);
            text-align: center;
            @include flexbox (column, none, none, none, center);
            .titulo {
                @include textos ("Raleway", "mayor", 1.2, 1.5vw, 0, 2% 2% 1% 2%);
            }
            .frase {
                @include textos ("Raleway", "mayor", 0.3, 5px, 10px, 0);
            }
        }
    }
    .fondo {
        background-image: linear-gradient(black, rgb(51, 50, 50));
        @include flexbox (column, none, none, none, none);   
        .habit__section {
            margin: 2%;
            .subtitulo {
                @include textos ("Raleway", "mayor", 0.8, 0.2vw, 0, 2% 2% 1% 2%);
            }
            .sub_fondo {
                color: black;
                border: 2px solid bisque;
                background-image: linear-gradient(#DBD3D0, #BAC2DB);
                @include flexbox (row, center, none, none, none);
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-template-areas: "imagen titulo"
                                     "imagen texto";
                img {
                    max-width: 100%;
                    height: 350px;
                    grid-area: imagen;
                }
                h3 {
                    @include textos ("Raleway", "mayor", 0.4, 0, 0, 1% 1% 0 1%);
                    grid-area: titulo;
                }
                p {
                    @include textos ("Lato", "default", 1.5, 0.08vw, 0, 0 1% 1% 1%);   
                    grid-area: texto;
                }
            }
        }
    }
    a {
        @include flexbox (row, none, none, none, center);
        color: bisque;
        @include textos ("Raleway", "mayor", 0.8, 0, 0, 40px);
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background: bisque;
            color: rgb(0, 0, 0);
            transition: all linear 0.3s;
        }
    }
}