#main__actividades {
    grid-area: main;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.87), rgb(0, 0, 0));
    height: auto;
    #section1__descripcion {
        text-align: center;
        height: 60vh;
        background-image: url(../assets/images/Imagenes_actividades/Actividades_panoramica.webp);
        @include backgrounds;
        z-index: -1;
        color: bisque;
        .sombreado {
            text-align: center;
            @include flexbox (column, center, none, none, center);
            height: inherit;
            width: inherit;
            background-color: rgba(0, 0, 0, 0.767);
            z-index: 100;
            .titulo {
                @include textos ("Raleway", "mayor", 1.2, 1.5vw, 0, 2% 2% 1% 2%);
            }
            .frase {
                @include textos ("Raleway", "mayor", 0.3, 5px, 10px, 0);
            }
        }
    }
    #section2__cartas {
        margin-top: 20px;
        @include flexbox (row, none, none, none, center);
        flex-wrap: wrap;
        .carta {
            position: relative;
            width: 300px;
            height: 350px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 50px;
            &:hover .adelante {
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .atras {
                transform: perspective(600px) rotateY(360deg);
            }
            .frente {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
              }
              .adelante {
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px #000;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3 {
                    @include textos ("Lato", "mayor", 0.4, 0.08vw, 0, 0); 
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    color: bisque;
                    background: rgba(0, 0, 0, 0.531);
                    text-align: center
                }
                
            }
            .atras {
                transform: perspective(600px) rotateY(180deg);
                background: #111111;
                padding: 15px;
                color: bisque;
                @include flexbox (column, none, none, none, space-between);
                text-align: center;
                box-shadow: 0 0 10px #E6CEB1;
                h4 {
                    @include textos ("Raleway", "mayor", 0.4, 0, 0, 1% 1% 0 1%);
                }
                p {
                    letter-spacing: 1px;
                }
               li {
                @include textos ("Lato", "default", 1, 0, 0, 0); 
                border-top: #71695e 2px solid;
               }
               .reserva {
                border-top: solid 1px bisque;
                height: 50px;
                @include textos ("Raleway", "mayor", 0.4, 0, 0, 1% 1% 0 1%);
               }
               a {
                color: bisque;
                font-size: 1.5rem;
                text-transform: uppercase;
                cursor: pointer;
                background: linear-gradient(to left, transparent 50%, rgb(99, 96, 96));
                background-size: 200%;
                background-position: right;
                transition: background-position 0.2s;
                &:hover {
                    background-position: left;
                    font-weight: 700;
                }
               }
            }
        }
    }
}