@mixin textos ($fuentes, $m_textos, $n, $espacio, $pad, $mar) {
    font-family: $fuentes;
    font-size: (map-get($map: $textos, $key: $m_textos)*$n);
    letter-spacing: $espacio;
    padding: $pad;
    margin: $mar;
    text-align: center;
}
@mixin index ($index, $t, $fuentes, $m_textos, $n, $espacio, $pad, $mar) {
    margin-top: 30px;
    grid-area: $index;
    .imagenes{
        width: $t;
        height: $t;
    }
    .sub_subtitulo{
        @include textos ($fuentes, $m_textos, $n, $espacio, $pad, $mar)
    }
}
@mixin backgrounds {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin flexbox ($d, $ai, $ac, $ji, $jc) {
    display: flex;
    flex-direction: $d;
    align-items: $ai;
    align-content: $ac;
    justify-items: $ji;
    justify-content: $jc;
}